i{
    color:black;
}
.border{
    border-color: 1px solid rgb(206, 18, 18);
}

.R7{
    color: rgba(0,0,0,.4)	;
}

#center{
            
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}


#b{
    text-align: center;
}


.cen{
    text-align: center;
}

.topp{
position: absolute;
top: 90px;
}
.toppp{
position: absolute;
top: 150px;
}
.gray{
background-color: darkgrey;
}
.AB{
color: black;

}
.AB:hover{
text-decoration: none;
}
.ABC{
color: black;
background-color: darkgrey;
padding: 2px;
margin: 2px;

}
.ABC:hover{
text-decoration: none;
}

#emaill{

color: red;
}
#passwordd{
text-align: center;
}
.fb{
text-decoration: none;
color: black;
}
.fb:hover{
color: black;
text-decoration: none;
}

#buuu{

border-radius: 10px;
box-shadow: 0px 0px 10px 0px #000;

}

.dropdown-item:hover{
background-color: lightblue;
}

.book{
text-decoration: none;
color: #fff;
}
.book:hover{
text-decoration: none;
color: #fff;
}

.q-img{
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}
.ta-row{
    border: 5px solid;
}
.table{
    border: 1px black solid;

}
.orders{
    background-color: #0021473f;
}

.colo{
    background-color: #002147 ;
}
.centt{
    text-align: justify;
}